---
import Layout from "../layouts/base.astro";

export const getStaticPaths = async () => {
  const baseStrapiUrl = "http://cedsharp.ca:1337/api";
  const token =
    "14a94bcbfca282303a94ef010e5f0eff4f29132280bb2c8e701df4f1378b4d1fda9393e80d76a753164e9e529b4c53e1e5c49eb5e2384107323c7ee08af1c9e1e5bc816a7e3afa6a06b582a1d2eba5897c1c82812e8abaef501b37a8142e3dc6fce50c6e346aaf345f6ab8c8f930ede0eddc64b908dfcdf96b5f7e4f28256ecc";
  const strapiData = await fetch(`${baseStrapiUrl}/pages`, {
    method: "GET",
    headers: {
      "Content-Type": "application/json",
      Authorization: `Bearer ${token}`,
    },
  }).then((body) => body.json());

  return strapiData.data.map((page) => ({
    params: {
      page: page.attributes.title.toLowerCase(),
    },
    props: {
      title: page.attributes.title,
      body: page.attributes.body,
    },
  }));
};

const { title, body } = Astro.props;
console.log(Astro.props);
---

<Layout>
  <h1>{title}</h1>
  <br />
  <p>{body}</p>
</Layout>
